*{
    margin: 0;
    padding: 0;
}

#area-cabecalho {
    background-color:#014562;
    padding: 3px;
    text-align: center;
}

#container {
    width: 1080px;
    margin: 0 auto;
}

/* ----- imagens ----- */

#area-principal .imagens img {
    display: flex;
    float: left;
    padding-top: 50px;
    margin: 0 0 0 50px ;
    filter: blur(0.7px) brightness(60%);
    
}

/* ----- area noticias ----- */

#noticias h2{
    
    position: absolute;
    display: flex;
    float: left;

}

#noticias .primeira-noticia h2 {
    
    margin: 220px 0 0 70px;

}

#noticias .segunda-noticia h2 {
  
    margin: 220px 0 0 585px;
        
}

#noticias p {

    position: absolute;
    display: flex;
    float: left;

}

#noticias .primeira-noticia p {
    
    margin: 255px 0 0 70px;   

}

#noticias .segunda-noticia p { 
   
    margin: 255px 0 0 585px;  

}

/* ----- formatação de texto ----- */

h2{
    color: ivory;  

}

p{
    color: ivory;  }