*{
    margin: 0;
    padding: 0;
}

/***** header *****/

header{
    text-align:center;
    background-color:#014562;
    padding: 3px;
}

.container {
    width: 1050px;
    margin: 0 auto; 
}

.main{
    margin-top:30px;
    
}

/***** start first news *****/

.news{  
    margin-bottom:32px;
    position: relative;
    display: flex;
    flex-direction: row;

}

.news article{

    margin-right:60px;
    position: relative;
}

.news-description{
    position: absolute;
    bottom: 20px;
    z-index: 10;
    padding: 0 20px
}

.news .label{
    text-transform:uppercase;
    color:blue;
    font-weight:bold;
    font-size: 0.6em;

}

.news .title{
    font-size:1.1em;
    margin-bottom: 7px;
    font-weight: bold;
    color: #fff;

}

.news .description{
    font-size: 0.9em;
    line-height: 17px;
    color: #fff;

}

.news .overlay{
    background-color: rgba(0,0,0,0.58);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 99%;
}

.news .news-thumb{
    position: relative; 
    margin-top: 20px;
}

/***** start second news *****/

.second-news{
    margin-bottom: 32px;
    display: flex;
    flex-direction: row;
    
}

.first-article{
    margin-right: 80px;
}

.second-news .second-label{
    
    text-transform:uppercase;
    color:blue;
    font-weight:bold;
    font-size: 0.6em;
    
}


.second-news .second-title{
    
    font-size:1.1em;
    margin-bottom: 7px;
    font-weight: bold;
    color:black;
}

.second-news .second-description{
    font-size: 0.9em;
    line-height: 17px;
    color: black;
}

.second-news .second-news-thumb{

    margin-right: 8px;
    
    
}

/***** start third news *****/

.third-news {     
    display: flex;
    margin-bottom: 32px;
}

.third-news article{
   
    margin-right:40px;
    
}

.third-news .third-label{
    
    text-transform:uppercase;
    color:blue;
    font-weight:bold;
    font-size: 0.6em;;
}

.third-news .third-title{

    font-size:1.1em;
    margin-bottom: 2px;
    font-weight: bold;
    color:black;
}
    
.third-news .third-description{
    font-size: 0.9em;
    line-height: 17px;
    color: black; 
}



/***** advertising start *****/

.advertising{
    background-color: #DCDCDC;
    text-align:center;
    
}

.advertise {
    margin-top: 20px;
    padding-bottom: 15px;
}

/***** start fourth news *****/

.fourth-news{
    display: flex;
}

.fourth-news article{
    
    margin-right:40px;

}

.fourth-news .fourth-label{ 
    text-transform:uppercase;
    color:blue;
    font-weight:bold;
    font-size: 0.6em;
}

.fourth-news .fourth-title{
    
    font-size:1.1em;
    margin-bottom: 2px;
    font-weight: bold;
    color:black;
}
    
.fourth-news .fourth-description{
    font-size: 0.9em;
    line-height: 17px;
    color: black; 
    padding-bottom: 20px; 
}

.fourth-news .fourth-news-thumb{

    margin-top: 2px;   
}

/***** start fifth news *****/

.fifth-news {
    display: flex;
}

.fifth-news article{
    margin-right:40px;
    position: relative;
}


.fifth-news .fifth-label{
    
    text-transform:uppercase;
    color:blue;
    font-weight:bold;
    font-size: 0.6em;
}

.fifth-news .fifth-title{
    
    font-size:1.1em;
    margin-bottom: 2px;
    font-weight: bold;
    color:black;
}
    

.fifth-news .fifth-description{
    font-size: 0.9em;
    line-height: 17px;
    color: black;
    padding-bottom: 20px; 

}

.fifth-news .fifth-news-thumb{
    
    margin-top: 2px;
    
}

/***** footer edition *****/

#footer{
    
    background-color:#ccff33;
    padding: 3px;
    height: 60px;
    margin-top: 30px;
}

.img-footer{
    margin-top: 10px;
}

.text-footer{
    margin-top: -40px;
    margin-right: 10px;
    font-size: 0.7em;
    text-decoration: black;
    text-align: end;
    flex: end;
}

/***** text editing *****/

body {
    font-family: 'Roboto' ;
}

.section-title {
    margin-top: 5px;
    text-transform:uppercase;
    color:#014562;
    font-weight:bold;
    font-size: 1.5em;
    
}

.section-final-text {
    text-transform:uppercase;
    color:#014562;
    font-weight:bold;
    font-size: 1.2em;
    display: flex;
    flex-direction: row-reverse;
}

