*{
    margin: 0;
    padding: 0;
}


header{
    text-align:center;
    background-color:#014562;
    padding: 3px;
}

.container {
    width: 1080px;
    margin: 0 auto;
   
}

.main{
    margin-top:30px;
    margin-left: 100px;
    
}

.news{
   
    margin-bottom:32px;
    margin-right:32px;
    position: relative;

   
}

.news article{
    float:left;
    margin-right:40px;
    position: relative;
}

.news-description{
    position: absolute;
    bottom: 20px;
    z-index: 10;
    padding: 0 20px
}


.second-news-description{
    position: relative;
    bottom: 220px;
    padding-left: 230px ;
    
}

.news .label{
    text-transform:uppercase;
    color: #fff;
    font-weight:bold;
    font-size: 0.6em;
    font-family: sans-serif;
}

.news .second-label{
    text-transform:uppercase;
    color:blue;
    font-weight:bold;
    font-size: 0.6em;
    font-family: sans-serif;
}

.news .third-label{
    text-transform:uppercase;
    color:blue;
    font-weight:bold;
    font-size: 0.6em;
    font-family: sans-serif;
}

.news .title{
    font-size:1.1em;
    margin-bottom: 7px;
    font-weight: bold;
    color: #fff;
    font-family: sans-serif;
}

.news .second-title{
    font-size:1.1em;
    margin-bottom: 7px;
    font-weight: bold;
    color:black;
    font-family: sans-serif;
}

.news .third-title{
    font-size:1.1em;
    margin-bottom: 7px;
    font-weight: bold;
    color:black;
    font-family: sans-serif;
}

.news .description{
    font-size: 0.9em;
    line-height: 17px;
    color: #fff;
    font-family: sans-serif;
}

.news .second-description{
    font-size: 0.9em;
    line-height: 17px;
    color:black;
    font-family: sans-serif;
}

.new .third-news-description{
    margin-bottom: -10px;
}

.news .overlay{
    background-color: rgba(0,0,0,0.58);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 99%;
}


.news .news-thumb{
    position: relative; 
    margin-top: 20px;
}


.news .news-thumb-two{
    position: relative; 
    margin-top: 20px;
    padding: 0 0 0 12px;
}

.news .news-second-thumb{
    position: relative; 
    margin-top: -80px;
        
}

.news .news-third-thumb{
    position: relative; 
    margin-top: 15px;
    
    
}

.advertising{
    background-color:#e9e9e9;
    height: 130px;
    width: 1340px;
    margin-left: -180px;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.advertise {
    margin-top: 25px;
    margin-left: 380px;
    padding-bottom: 25px;
}

.Brazil {
   display: absolute;
    margin-top: 20px;
    text-transform:uppercase;
    color:#014562;
    font-weight:bold;
    font-size: 1.5em;
    font-family: sans-serif;
    
}

.world {
    text-transform:uppercase;
     color:#014562;
     font-weight:bold;
     font-size: 1.2em;
     font-family: sans-serif;
     margin-left: 930px;
 }

 #footer{
        display: flex;
        background-color:#ccff33;
        padding: 3px;
        height: 60px;
    }

.img-footer{
        margin-top: 10px;
    }

.text-footer{
        margin-top: 15px;
        margin-left: 950px;
        font-size: 0.8em;
    }

    
.clearfix {
        overflow: auto;
      }
 

 
